@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #F4F6F9;
}

.wrapper{
     display: flex;
     position: relative;

 }

.wrapper .sidebar{
    width:280px;
    height: 100vh;
    background-color: #332F48;
    padding: 30px 0;
}
.wrapper .sidebar h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 30px;

}

.wrapper .sidebar ul li:hover{
    background-color: #282539;

}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}
.wrapper .sidebar ul li:hover .fas {
    color: #91D925;
}

.wrapper .main_content{
    width: 100%;


}

.wrapper .main_content .header{
    padding: 20px;
    background-color: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 40px;
    line-height: 25px;
    font-weight: bold;
    font-size: 30px;
    color: purple;
}

.btn{
    position: absolute;
    top: 5px;
    right: 30px;
    border: none;
    padding: 15px;
    width: 100px;
    border-radius: 60px;
    cursor: pointer;
    background-image: linear-gradient(to left, #1289A7,#12CBC4,#0652DD);
    color: white;
    font-size: 15px;
    background-size: 200%;
    font-weight: bold;
}

.btn:hover{
    background-image: linear-gradient(to left, #0652DD,#12CBC4,#1289A7);

}

.input_section{
    margin: 40px;
    background: #F4F6F9;
    padding: 80px;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
}

.input_section h1{
    font-size: 30px;
    color: #888;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.name, .email{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}

.name {
    width: 270px;
}
.email {
    width: 270px;
}

.input_section button{
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
}

.input_section button:hover{
    background: #70a1ff;
    color: #fff;
}