@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background: #222;
}
.main_content{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background: #222;

}

.add_priority_content{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background: #222;
}

.selectionMenuContent{
    display: grid;
    justify-content: center;
    background: #222;
    margin-top: 150px;
}

.container{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-template-rows: minmax(250px,auto);
    margin: 40px 40px 40px 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.loginContainer{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(400px,1fr));
    grid-template-rows: minmax(250px,auto);
    margin: 40px 40px 40px 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.selectionMenuContainer{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px,1fr));
    grid-template-rows: minmax(250px,400px);
    margin: 40px 40px 40px 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.projects{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto,1fr));
    grid-template-rows: minmax(auto,auto);
    margin: 40px 40px 40px 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;

}

.projects .box{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;

}

.projects .box:hover{
    background: #3864f2;
}

.container .box{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.selectionMenuContainer .box{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 15px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;

}

.loginContainer .box{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    border-radius: 15px;
}

.container .error{
    background: #3864f2;
    padding: 20px;
    display: grid;
    font-size: 18px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.container .success{
    background: #91D925;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.container .userData{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.main_content .container .box:hover{
    background: #e91e63;
}

.main_content .container .userData:hover{
    background: #3864f2;
}

.selectionMenuContainer .userBox:hover{
    background: #3864f2;
}

.selectionMenuContainer .box:hover{
    background: #3864f2;
}

.container .box img{
    position: relative;
    max-width: 1000px;
    size: 30px;
    margin-bottom: 10px;
}

.container .userData img{
    position: relative;
    max-width: 1000px;
    size: 30px;
    margin-bottom: 10px;
}



.main_content .container .box:nth-child(2){
    grid-column: span 2;
    grid-row: span 1;
}
.main_content .container .box:nth-child(3){
    grid-column: span 1;
    grid-row: span 1;
}

.main_content .container .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}

.main_content .container .box:nth-child(5){
    grid-column: span 1;
    grid-row: span 1;
}
.main_content .container .box:nth-child(6){
    grid-column: span 1;
    grid-row: span 1;
}
.nav{

    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1630px,1fr));
    grid-template-rows: minmax(40px,auto);
    margin-top: 40px;
    margin-bottom: 10px;

    grid-auto-flow: dense;

}
.login{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 25px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;


}

.navbar{
    display: flex;
    justify-content: center;
    align-self: center;
    background: #222;
}

.navbar .nav .login:hover{
    background: #3864f2;
}

@media (max-width: 991px) {
    .container{

        grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);

    }


}

.hidden{
    display: none;
}

.add_priority_content .container .box:nth-child(1){
    grid-column: span 3;
    grid-row: span 2;
}

.back:hover{
    background: #e91e63;
}

.inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;

}

.inner-width h1{
    font-size: 35px;
    color: #fff;
    margin-bottom: 60px;
    letter-spacing: 4px;
    font-weight: 400;
}

.selectionMenuContainer .inner-width h1{
    font-size: 25px;
    color: #fff;
    margin-bottom: 60px;
    letter-spacing: 3px;
    font-weight: 400;
}

.appName{
    margin-top: 15px;
}
.name {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #ddd;
    padding: 10px 6px;
    font-size: 25px;
    width: 350px;

}
.description {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #ddd;
    padding: 10px 6px;
    font-size: 25px;
    width: 350px;
    resize: none;

}
.inner-width button{
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 25px;
    transition: 0.4s linear;
    margin-top: 40px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.inner-width button:hover{
    background: #70a1ff;
    color: #ffffff;
}
::-webkit-scrollbar{
    width: 6px
}
::-webkit-scrollbar-thumb{
    background: #70a1ff;
    border-radius: 6px;
}

.radiobutton p{
    color:  #ddd;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

table{
    font-size: 25px;
    color:  #ddd;
    width: 400px;

}

th{
    text-align: left;
    font-weight: 500;
}
td{
    text-align: left;
    font-weight: 300;
}

td img {
    margin-right: 15px;
    margin-top: 10px;
}

.maxHeight{
    overflow: auto;
    height: 700px;
}

.myText{
    font-size: 30px;
    color:  #fff;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.loginError{
    font-size: 25px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #ffd372;
}