<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaLeader.pl | development chat application</title>
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="cloud.png">

</head>
<body onload="connect()">
<div class="container">
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="offset4 span4">
                <img src="chat.png">
                <div class="control-group">
                </div>
                <div class="control-group">

                        <label>You message:</label>
                        <input class="form-control" id="messageToSend" type="text"/><br>
                        <button class="btn btn-primary" id="sendBtn" onclick="sendMessage()">Send</button>

                </div>

            </div>
        </div>
    </div>

    <br>
    <div id="reponse"></div>
</div>
<div class='spinner-wrapper'>
    <div class="spinner"></div>
</div>
<script src="/js/loader.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.js"></script>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>
