<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="navbar">
    <div class="nav">
        <div class="login">Hello, Kuba</div>
    </div>
</div>

<div class="main_content">
    <div class="container">
        <div class="box">
            <div class="content">
                <img src="spaceship.png">
                <p>Projects</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="project.png">
                <p>Create project</p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <img src="add.png">
                <p>New user</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="team.png">
                <p>Users</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="delivery.png">
                <p>Status list</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="project-management.png">
                <p>New status</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="status.png">
                <p>List of priorities</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <img src="fire.png">
                <p>New priority</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>