<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/c395dd8104.js" crossorigin="anonymous"></script>

</head>
<body>
 <div class="wrapper">
     <div class="sidebar">
         <h2>GoProject</h2>
         <ul>
             <li><a href="#"><i class="fas fa-tasks"></i>Project lists</a></li>
             <li><a href="#"><i class="fas fa-plus"></i></i>Adding a project</a></li>
             <li><a href="#"><i class="fas fa-users"></i>User lists</a></li>
             <li><a href="#"><i class="fas fa-user-plus"></i>Add user</a></li>
             <li><a href="#"><i class="fas fa-align-justify"></i>Status lists</a></li>
             <li><a href="#"><i class="fas fa-plus"></i>Adding status</a></li>
             <li><a href="#"><i class="fas fa-clipboard-list"></i>Lists of priorities</a></li>
             <li><a href="#"><i class="fas fa-plus"></i>Adding priority</a></li>

         </ul>
     </div>
     <div class="main_content">
         <div class="header">Welcome!!!<button class="btn">Sign Out</button></div>
         <div class="info">LOREM lOREM</div>
     </div>
 </div>

</body>
</html>