<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>GoProject</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>
<body>
<!--Login section-->
<div id="userMenu" class="selectionMenuContent">
    <div class="selectionMenuContainer">
        <div class="box">
            <div class="content">
                <div class="inner-width">
                    <img src="avatar.png">
                    <h1 class="appName">For user</h1>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <div class="inner-width">
                    <img src="admin.png">
                    <h1 class="appName">For admin</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>