<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>GoProject</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="cloud.png">

</head>
<body>
<!--Login section-->
<div id="userMenu" class="selectionMenuContent">
    <div class="selectionMenuContainer">
        <div id=userBox class="box">
            <div class="content">
                <div class="inner-width">
                    <img src="avatar.png">
                    <h1 class="appName">For user</h1>
                </div>
            </div>
        </div>
        <div id=adminBox class="box">
            <div class="content">
                <div class="inner-width">
                    <img src="admin.png">
                    <h1 class="appName">For admin</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="js/selectionMenu.js"></script>
</body>
</html>