<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="seo-and-web.png">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>


</head>
<body>
<!--Forget Password section-->
<div id="userMenu" class="add_priority_content">
    <div class="loginContainer">
        <div class="box">
            <div class="content">
                <div class="inner-width">
                    <img class="forgetPassword" src="updatePassword.png">
                    <p id="forgetPasswordMessage" class="statusAlert">Update your password.</p>
                        <input id="newPasswordInput" type="password" name="newPassword" class="name" placeholder="Password">
                        <input id="confirmPasswordInput" type="password" class="name" placeholder="Confirm">
                        <button id="updatePasswordButton" type="submit">Update password</button><br>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="js/updatePassword.js"></script>
</body>
</html>