<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="seo-and-web.png">

</head>
<body>
<!--Forget Password section-->
<div id="userMenu" class="add_priority_content">
    <div class="loginContainer">
        <div class="box">
            <div class="content">
                <div class="inner-width">
                    <img class="forgetPassword" src="updatePassword.png">
                    <p id="forgetPasswordMessage" class="statusAlert">Update your password.</p>


                        <input type="password" name="newPassword" class="name" placeholder="Password">
                        <input type="password" class="name" placeholder="Confirm">
                        <input  th:hidden="${token}">
                    <td id="gowno" th:text="${token}">1</td>

                        <button id="asd" type="submit">Update password</button><br>
                    <form action="#" th:action="@{/savePassword}"  method="post">
                       <button type="submit">wysli</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script>
    document.getElementById("asd").onclick =function () {
        var gowno = document.getElementById("gowno");
        console.log(${token});

    };

</script>
</body>
</html>