<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GoProject</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="cloud.png">

</head>
<body>

<!--Dashboard section-->
<div id="dashboard" class="main_content">
    <div class="container">
        <div class="userData">
            <div class="content">
                <p class="userDataText" th:text="${userName}"></p>
            </div>
        </div>
        <div id="projects" class="box">
            <div class="content">
                <img src="seo-and-web.png">
                <p>Projects</p>
            </div>
        </div>
        <div id="logout" class="userData">
            <div  class="content">
                <img src="signs.png">
                <p>Logout</p>
                <form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
        <div id="backButton" class="box">
            <div class="content">
                <img src="leftArrow.png">
                <p>Back</p>
            </div>
        </div>
        <div id="newProject" class="box">
            <div  class="content">
                <img src="project-management.png">
                <p>Create project</p>
            </div>
        </div>
        <div class="box">
            <div  class="content">
                <img src="issue.png">
                <p>Report a problem</p>
            </div>
        </div>
        <div class="box">
            <div  class="content">
                <img src="cloud.png">
                <p>Weather</p>
            </div>
        </div>
        <div class="box">
            <div  class="content">
                <img src="broadcast.png">
                <p>Stay updated</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="js/userDashboard.js"></script>
</body>
</html>